@import url(https://fonts.googleapis.com/css?family=Ubuntu);
html {
  height: 100%;
}
h5 {
  padding-bottom: 100px;
}

body {
    background-image: url("https://fsb.zobj.net/crop.php?r=OfPWYXeIfjoX_t8V4ydQBS5SIoYn23iojQOj9EaJOxzYOQxwce-9vZfbHkio5Pp05aoljYiYinSo2o2rDK9zwmM6vrbYUxxJdfNOCR2patjYzbQnaMiecT_Z58Pbd5KW-5I_VG7lNpXjHPTrLL5j4X0maQN7mhHysBJYRQ");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;

    position: relative;
    margin: 0;
    height: 100%;
    text-align: center;
    color: #0066cc;
    font-family: "Ubuntu";
    padding-top: 10px;
  margin-bottom: 50px;
}



a {
    color: black;
    text-align: center;
}

ul {
  list-style-type: none;
}

li .form-control {
  color: #003399;
  text-align: left;
}

img {
  height: 250px;
  width: 250px;
}

#searchBtn {
  margin-bottom: 20px;
  border: 15px black;
}
.shadowBox {
background-color: #cceeff;
/*make sure words wrap and don't go beyond the borders of the well*/
word-wrap: break-word;
border-radius: 10px;
border-bottom: 6px outset #000099;
margin-bottom: 20px;
}


}
.link-icon {
    font-size: 30px;
}


.footer {
  font-size: 16px;
  position: fixed;
  text-align: center;
  bottom: 0px;
  width: 100%;

}
