@import url(https://fonts.googleapis.com/css?family=Ubuntu);
html {
    height: 100%;
}

h5 {
  padding-top: 36%;

}
body {
    background-image: url("http://static.wixstatic.com/media/e68a9c_1bbb86fc603f4eefa7b4adb7ed481aed~mv2_d_2105_2101_s_2.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30%;
    text-align: center;
    height: 100%;
    text-align: center;
    color: gray;
    font-weight: bold;
    font-family: "Ubuntu";
    padding-top: 10px;
}

footer {
    font-size: 16px;
    position: absolute;
    text-align: center;
    bottom: 0px;
    width: 100%;
}

.link-icon {
    font-size: 30px;
}

a {
    color: black;
}

ul {
    color: white;
}
