@import url(https://fonts.googleapis.com/css?family=Ubuntu);
html {
    height: 100%;
}

h5 {
  padding-bottom: 100px;
}

body {
    background-image: url("https://fsb.zobj.net/crop.php?r=OfPWYXeIfjoX_t8V4ydQBS5SIoYn23iojQOj9EaJOxzYOQxwce-9vZfbHkio5Pp05aoljYiYinSo2o2rDK9zwmM6vrbYUxxJdfNOCR2patjYzbQnaMiecT_Z58Pbd5KW-5I_VG7lNpXjHPTrLL5j4X0maQN7mhHysBJYRQ");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100%;

  text-align: left;
    height: 100%;
    text-align: center;
    color: gray;
    font-weight: bold;
    font-family: "Ubuntu";
    padding-top: 10px;
}

footer {
    font-size: 16px;
    position: absolute;
    text-align: center;
    bottom: 0px;
    width: 100%;
}

}
.link-icon {
    font-size: 30px;
}

a {
    color: black;
}

ul li {
    color: orange;
}

img {
  height: 300px;
  width: 300px;
}
