/*
https://thachpham.com/web-development/html-css/huong-dan-su-dung-sass-de-viet-css.html
*/
.menu_container {
    ul { background: black;
      li { color: red;
        a {color: blue;
        }
        &:a {
            color: lightblue;
            text-decoration: underline;
        }

       }
    }
}
