

@import url(https://fonts.googleapis.com/css?family=Ubuntu);
html {
  height: 100%;
}


body {
    background-image: url("http://st.gde-fon.com/wallpapers_original/337004_abstrakciya_stil_kuby_golovolomka_2560x1600_www.Gde-Fon.com.jpg");

  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 100%;
  position: relative;
  margin: 0;
  height: 100%;
  text-align: center;
  color: #0066cc;
  font-family: "Ubuntu";
  padding-top: 10px;
  margin-bottom: 50px;
}

.container {
  color: white;
  font-family: "Ubuntu";

}

#header {
  background: rgba(0,0,0,0.5);

}
/* make the background of header become darker*/

img {
  border-radius: 50%;
  width: 200px;
}

.col-md-4 {
  padding: 5px;
}

.row {
  background: rgba(0,0,0,0.30);
  margin-bottom: 10px;

}

}
.link-icon {
    font-size: 30px;
}


.footer {
  font-size: 16px;
  position: fixed;
  text-align: center;
  bottom: 0px;
  width: 100%;

}
