@import url(https://fonts.googleapis.com/css?family=Ubuntu);
html {
    height: 100%;
}

body {
background-image: url("https://s-media-cache-ak0.pinimg.com/originals/5b/d4/2f/5bd42fdae909fa580858ba6fc024f427.jpg");
    /*background-image: url("http://www.almanac.com/sites/default/files/image_nodes/thanksgiving-weather.jpg");*/
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    height: 100%;
    text-align: center;
    color: white;
    font-weight: bold;
    font-family: "Ubuntu";
    padding-top: 10px;
}

footer {
    font-size: 16px;
    position: absolute;
    text-align: center;
    bottom: 0px;
    width: 100%;
    color: black;
}

.link-icon {
    font-size: 30px;
}

a {
    color: black;
}

ul {
    color: white;
}
